.nav-bar {
  display: flex;
  min-height: 13vh;
  background-color: white;
}
.single-nav-route {
  font-family: "Cairo", sans-serif !important;
  font-size: 2.6vmin;
  font-weight: bold;
  margin-top: 4% !important;
  color: #198baf !important;
}

.sign-in {
  background: #198baf;
  color: white !important;
}
.sign-up {
  background: #e3f1f5;
}
.sign-up,
.sign-in {
  margin-top: 2% !important;
  min-width: 10vw;
  height: 65%;
  padding-top: 2% !important;
  border-radius: 50px;
}

.nav-routes {
  margin-left: 8% !important;
  width: 55%;
  justify-content: space-evenly;
  display: flex;
}
.nav-logo {
  position: absolute;
  right: 15vw;
  margin-top: 1rem;
  width: 8rem !important;
}

.nav-logo img {
  width: 24vh !important;
}
