@media only screen and (max-width: 768px) {
  .input-fields,
  .select-fields {
    width: 100% !important;
    margin-right: 0% !important;
  }
}

.form h4 {
  font-size: 2.9vmin;
  font-weight: 600;
}
.input-fields {
  width: 55%;
  margin-right: 3%;
  margin-top: 3%;
}
.select-fields {
  width: 55%;
  margin-top: 3%;
}
.form label {
  font-size: 3.1vmin !important;
  font-weight: 900 !important;
  color: #204f5d !important;
  margin-bottom: 2% !important;
}
.form input {
  direction: rtl !important;
  text-align: start !important;
}
.form ::placeholder {
  font-size: 3vmin;
  text-align: right !important;
}
.divider {
  font-size: 3.1vmin;
  position: absolute;
  right: 5% !important;
}
.item {
  padding-left: 7rem !important;
  text-align: right !important;
}
.icon {
  right: 92% !important;
}
